    <div class="card-body">
        <div class="heading">
            <h5 class="heading_title mb-0">User-Change-Password</h5>
        </div>
        <hr>
        <mat-card>
            <form [formGroup]="userChangePasswordForm" novalidate>
                <div class="form-group" style="text-align: left;">
                    <label>New password<span class="required">*</span></label>
                    <input type="text" formControlName="new_password"  (change)="addValidation()" style="width: 100%;" class="form-control"  />
                    <div   *ngIf="userChangePasswordForm.controls['new_password'].hasError('required') && userChangePasswordForm.controls['new_password'].touched" >
                        New password is required.
                    </div>
                    <!-- <div  *ngIf="userChangePasswordForm.controls['new_password'].hasError('minlength') && userChangePasswordForm.controls['new_password'].touched">
                        Password min length should be between 8-20 characters.
                    </div> -->
                    <!-- <div  *ngIf="userChangePasswordForm.controls['new_password'].hasError('notMatching') && userChangePasswordForm.confirm_password?.value!=''">
                        Password should be alphanumeric
                    </div> -->
                    <div class="error-text" *ngIf="userChangePasswordForm.get('new_password').hasError('passwordStrength')">
                        {{userChangePasswordForm.get('new_password').errors['passwordStrength']}}
                    </div>
                </div>
                <div class="form-group" style="text-align: left;">
                    <label for="new_password">Confirm password</label>
                    <input type="text" formControlName="confirm_password"  (change)="addValidation()" style="width: 100%;" class="form-control"  />
                    <div   *ngIf="userChangePasswordForm.controls['confirm_password'].hasError('required') && userChangePasswordForm.controls['confirm_password'].touched">
                        Confirm password is required.
                    </div>
                    <div   *ngIf="userChangePasswordForm.controls['confirm_password'].hasError('notMatching') && userChangePasswordForm.controls['confirm_password'].touched && userChangePasswordForm.confirm_password?.value!=''">
                        Password not matched.
                    </div>
                </div>
              <br>
                <button mat-button color="white" class="btn btn-dark px-3" (click)="userChangePassword()" >Confirm</button>
                &nbsp;&nbsp;
                <button mat-button color="white" class="btn btn-dark px-3" (click)="closeDialog()">Cancel</button>
            </form>
          </mat-card>
    </div>