    <div class="card-body">
        <div class="heading">
            <h5 class="heading_title mb-0">Approve-User</h5>
        </div>
        <hr>
        <div style="font-weight: 500;">
            <span> Do you want to approve this user ?</span>  
            </div>
           <br>
           <button mat-button color="white" class="btn btn-dark px-3" (click)="submit()">Confirm</button>&nbsp;&nbsp;
           <button mat-button color="white" class="btn btn-dark px-3" (click)="closeDialog()">Cancel</button>
    </div>