<div class="bg-login">
	<div class="wrapper">
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
					<div class="col mx-auto">
						<div class="mb-4 text-center">
							<!-- <img src="assets/images/cooee-logo.svg" width="180" alt="" /> -->
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<h4 class="heading">Reset Password</h4>
									<form [formGroup]="resetPasswordForm" novalidate>
										<div class="form-group" style="text-align: left;">
											<label for="new_password">New password</label>
											<input type="text" formControlName="new_password"  (change)="addValidation()" style="width: 100%;" class="form-control"  />
											<div *ngIf="resetPasswordForm.controls['new_password'].hasError('required') && resetPasswordForm.controls['new_password'].touched">
												New password is required.
											</div>
											<!-- <div  *ngIf="resetPasswordForm.controls['new_password'].hasError('minlength') && resetPasswordForm.controls['new_password'].touched">
												Password min length should be between 8-20 characters.
											</div> -->
											<!-- <div  *ngIf="resetPasswordForm.controls['new_password'].hasError('notMatching') && resetPasswordForm.confirm_password?.value!=''">
												Password should be alphanumeric
											</div> -->
											<div class="error-text" *ngIf="resetPasswordForm.get('new_password').hasError('passwordStrength')">
												{{resetPasswordForm.get('new_password').errors['passwordStrength']}}
											</div>
										</div>
										<div class="form-group" style="text-align: left;">
											<label for="new_password">Confirm password</label>
											<input type="text" formControlName="confirm_password"  (change)="addValidation()" style="width: 100%;" class="form-control"  />
											<div   *ngIf="resetPasswordForm.controls['confirm_password'].hasError('required') && resetPasswordForm.controls['confirm_password'].touched">
												Confirm password is required.
											</div>
											<div   *ngIf="resetPasswordForm.controls['confirm_password'].hasError('notMatching') && resetPasswordForm.controls['confirm_password'].touched && resetPasswordForm.confirm_password?.value!=''">
												Password not matched.
											</div>
										</div>
									  <br>
										<button mat-button color="white" class="btn btn-dark" (click)="resetPassword()" >Submit</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>