<div class="bg-login">
	<div class="wrapper">
		<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
			<div class="container-fluid">
				<div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
					<div class="col mx-auto">
						<div class="mb-4 text-center">
							<img src="assets/images/cooee-logo.svg" width="180" alt="" />
						</div>
						<div class="card">
							<div class="card-body">
								<div class="border p-4 rounded">
									<h4 class="heading">Admin Login</h4>
									<form [formGroup]="loginForm">
										<div class="form-body">
											<div class="row ">
												<div class="col-12 mb-3">
													<label for="username">Username</label>
													<input type="text" formControlName="username" style="width: 100%;"
														class="form-control"
														[ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
													<div *ngIf="submitted && f['username'].errors"
														class="invalid-feedback">
														<div *ngIf="f['username'].errors['required']">Username is
															required</div>
													</div>
												</div>

												<div class="col-12 mb-3">
													<label for="password">Password</label>
													<input type="password" formControlName="password"
														style="width: 100%;" class="form-control"
														[ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
													<div *ngIf="submitted && f['password'].errors"
														class="invalid-feedback">
														<div *ngIf="f['password'].errors['required']">Password is
															required</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-check form-switch">
													</div>
												</div>


												<div class="col-md-6 text-end mb-3" (click)="forget()"> <a
														href="JavaScript:;">Forgot Password ?</a>
												</div>


												<div class="col-12">
													<div class="d-grid">
														<button (click)="onSubmit()" class="btn btn-dark"><i
																class="bx bxs-lock-open"></i>Login</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>