    <div class="card-body">
        <div class="heading">
            <h5 class="heading_title mb-0">Subscription Plan Delete</h5>
        </div>
        <hr>
        <div style="font-weight: 600;">
            <span> Do you want to delete subscription plan ?</span>  
            </div>
           <br>
              <button mat-button color="white" class="btn btn-dark px-3" (click)="submit()">Confirm</button>&nbsp;&nbsp;
              <button mat-button color="white" class="btn btn-dark px-3"  (click)="closeDialog()">Cancel</button>
    </div>